<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Modification</ion-title>
    <ion-buttons slot="start">
      <ion-back-button href="/members/recruitment"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label position="floating">Nom</ion-label>
    <ion-input type="text" [(ngModel)]="nom"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Prénom</ion-label>
    <ion-input type="text" [(ngModel)]="prenom"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Sexe</ion-label>
    <ion-select [interfaceOptions]="customPopoverOptions" interface="popover" [(ngModel)]="sexe">
      <ion-select-option value="Homme">Homme</ion-select-option>
      <ion-select-option value="Femme">Femme</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Recruteur</ion-label>
    <ion-select [interfaceOptions]="customPopoverOptions" interface="popover" [(ngModel)]="recruteur">
      <div *ngFor="let m of member">
        <ion-select-option value="{{m._id}}">{{m.prenom}}</ion-select-option>
      </div>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Postule pour</ion-label>
    <ion-select [interfaceOptions]="customPopoverOptions" interface="popover" [(ngModel)]="postulePour">
      <ion-select-option value="Devoloppeur NodeJS">Devoloppeur NodeJS</ion-select-option>
      <ion-select-option value="Angular">Angular</ion-select-option>
      <ion-select-option value="Web Designer">Web Designer</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="floating">CV</ion-label>
    <ion-select [interfaceOptions]="customPopoverOptions" interface="popover" [(ngModel)]="cv">
      <ion-select-option value="Reçu">Reçu</ion-select-option>
      <ion-select-option value="Non reçu">Non reçu</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Interview</ion-label>
    <ion-select [interfaceOptions]="customPopoverOptions" interface="popover" [(ngModel)]="interview">
      <ion-select-option value="Reçu">Fait</ion-select-option>
      <ion-select-option value="Planifié">Planifié</ion-select-option>
      <ion-select-option value="En attent">En attent</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Note (1-5)</ion-label>
    <ion-input type="text" [(ngModel)]="note"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Qualité (1-5)</ion-label>
    <ion-input type="text" [(ngModel)]="qualite"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Téléphone</ion-label>
    <ion-input type="text" [(ngModel)]="tel"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input type="text" [(ngModel)]="mail"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Lien de Profil RS</ion-label>
    <ion-input type="text" [(ngModel)]="profileRS"></ion-input>
  </ion-item>


  <ion-button type="button" (click)="editRecruitment()" expand="block" color="primary">Enregistrer</ion-button>
</ion-content>