<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Profile</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button [routerLink]="['/members/notification']">
        <ion-icon slot="icon-only" name="notifications"></ion-icon>
        <ion-badge color="danger" slot="end">{{notification?.length}}</ion-badge>
      </ion-button>

      <ion-button (click)="presentPopover()">
        <ion-icon slot="icon-only" name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-progress-bar *ngIf="progressBar" class="progress-bar" type="indeterminate"></ion-progress-bar>
<ion-content padding>
  <ion-item>

    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <div class="avatar">
            <img src="{{member?.avatar}}" alt="">
          </div>
        </ion-col>
        <ion-col size="12">
          <div class="info-name">
            <h4>{{member?.nom}} {{member?.prenom}}</h4>

            <div class="observant" *ngIf="member?.observant == 1">
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star-outline"></ion-icon>
              <ion-icon name="star-outline"></ion-icon>
              <ion-icon name="star-outline"></ion-icon>
              <ion-icon name="star-outline"></ion-icon>
            </div>

            <div class="observant" *ngIf="member?.observant == 2">
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star-outline"></ion-icon>
              <ion-icon name="star-outline"></ion-icon>
              <ion-icon name="star-outline"></ion-icon>
            </div>

            <div class="observant" *ngIf="member?.observant == 3">
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star-outline"></ion-icon>
              <ion-icon name="star-outline"></ion-icon>
            </div>

            <div class="observant" *ngIf="member?.observant == 4">
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star-outline"></ion-icon>
            </div>

            <div class="observant" *ngIf="member?.observant == 5">
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
            </div>

          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-item>
  <ion-list lines="inset">
    <ion-item>
      <ion-label>
        Rôle: {{member?.role}}
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        Sexe: {{member?.sexe}}
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        Date de naissance
        <p>{{member?.dateDeNaissance | datePipe: 'fullDate':'dddd, DD MMMM YYYY'}}</p>
      </ion-label>
    </ion-item>

    <ion-item>

      <ion-label>
        CIN: {{member?.cin}}
      </ion-label>
    </ion-item>

    <ion-item>

      <ion-label>
        Père: {{member?.pere}}
      </ion-label>
    </ion-item>

    <ion-item>

      <ion-label>
        Mère: {{member?.mere}}
      </ion-label>
    </ion-item>

    <ion-item>

      <ion-label>
        Adresse: {{member?.adresse}}
      </ion-label>
    </ion-item>

    <ion-item>

      <ion-label>
        Email: {{member?.mail}}
      </ion-label>
    </ion-item>

    <ion-item>

      <ion-label>
        Téléphone: {{member?.tel}}
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-item>

    <ion-label>
      Date d'inscription
      <p>{{member?.dateInsertion | datePipe:'dddd, DD MMMM YYYY'}}</p>
    </ion-label>
  </ion-item>

  <!-- fab placed to the (vertical) center and end -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/members/profile-edit" routerDirection="forward">
      <ion-icon name="brush"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>