<ion-header>

  <ng-container *ngIf="searchbarIsActive; else elseTemplate">
    <ion-toolbar color="primary">
      <ion-title>Projet</ion-title>
      <ion-buttons slot="start">
        <ion-menu-button autoHide="false"></ion-menu-button>
      </ion-buttons>

      <ion-buttons slot="primary">
        <ion-button [routerLink]="['/members/notification']">
          <ion-icon slot="icon-only" name="notifications"></ion-icon>
          <ion-badge color="danger" slot="end">{{notification.length}}</ion-badge>
        </ion-button>

        <ion-button (click)="searchButtonClick()">
          <ion-icon slot="icon-only" name="search"></ion-icon>
        </ion-button>

        <ion-button (click)="presentPopover()">
          <ion-icon slot="icon-only" name="more"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ng-container>
  <ng-template #elseTemplate>
    <ion-toolbar>

      <ion-buttons slot="start">
        <ion-button (click)="backButtonClick()">
          <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>

      <ion-searchbar animated debounce="50" placeholder="Recherche" animated (ionInput)="getItems($event)">
      </ion-searchbar>

      <ion-buttons slot="primary">
        <ion-button slot="end" (click)="presentPopover()">
          <ion-icon slot="icon-only" name="more"></ion-icon>
        </ion-button>
      </ion-buttons>

    </ion-toolbar>
  </ng-template>

</ion-header>

<ion-progress-bar *ngIf="progressBar" class="progress-bar" type="indeterminate"></ion-progress-bar>

<ion-content padding>

  <!-- Custom Refresher Content -->
  <ion-refresher slot="fixed" (ionRefresh)="refreshProjectData($event)" [disabled]="false">
    <ion-refresher-content pullingIcon="arrow-round-down" refreshingSpinner="crescent" refreshingText="Chargement...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list *ngFor="let p of project">
    <ion-item>
      <ion-buttons slot="start">
        <ion-icon slot="icon-only" name="filing"></ion-icon>
      </ion-buttons>

      <ion-label>
        <h2>{{p.nom}}</h2>
        <p>Statut : {{p.statut}}</p>
      </ion-label>

      <ion-buttons slot="end">
        <ion-button color="primary" [routerLink]="['/members/project-details/', p._id]">
          <ion-icon name="open"></ion-icon>
        </ion-button>
      </ion-buttons>

      <ng-container *ngIf="p.chefDeProjet == memberId; else elseTemplate">
        <ion-buttons slot="end">
          <ion-button color="primary" [routerLink]="['/members/project-edit/', p._id]">
            <ion-icon name="create"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ng-container>
      <ng-template #elseTemplate>
        <ion-buttons slot="end" *ngIf="!confident">
          <ion-button color="primary" [routerLink]="['/members/project-edit/', p._id]">
            <ion-icon name="create"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ng-template>

      <ng-container *ngIf="p.chefDeProjet == memberId; else elseTemplate2">
        <ion-buttons slot="end">
          <ion-button color="danger" (click)="removeProject(p._id)">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ng-container>
      <ng-template #elseTemplate2>
        <ion-buttons slot="end" *ngIf="!confident">
          <ion-button color="danger" (click)="removeProject(p._id)">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ng-template>

    </ion-item>

  </ion-list>

  <!-- fab placed to the (vertical) center and end -->
  <ion-fab [ngClass]="{'fab-hidden': confident}" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/members/project-add" routerDirection="forward">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>